/** @format */

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  padding: 0 16px;
}

header h1 {
  margin: 0;
  font-size: 22px;
  line-height: 64px;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

main {
  padding: 0 16px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  /* 투명하게 */
  pointer-events: none;
  /* 안보이게 했는데 마우스 포인터는 바뀌니까 */
  transition: opacity 0.6s;
  /* 애니메이션 효과 */
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  /* 처음에는 안보이게 해서 애니메이션으로 보이게 하는거지 */
  transform: translateY(30px);
  transition: opacity 0.3s, transform 0.3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  /* 자식 1번째 */
  transition-delay: 0.1s;
}

.overlay.show li:nth-child(2) {
  /* 자식 2번째 */
  transition-delay: 0.2s;
}

.overlay.show li:nth-child(3) {
  /* 자식 3번째 */
  transition-delay: 0.3s;
}

.pc-menu {
  display: none;
}
/* 창 크기가 600px보다 커지면. 메뉴 아이콘이 사라지고 PC버전 */
@media (min-width: 600px) {
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .pc-menu a {
    display: block;
    width: 80px;
    line-height: 64px;
    text-align: center;
  }

  .pc-menu a:hover {
    background: #f2f2f2;
  }

  .sp-menu {
    display: none;
  }
}
